.titulo {         
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.inputs-calculadora {
    display: flex;
    justify-content: center;
    gap: 20px;    
    margin-right: 40px;
    margin-left: 40px;    
}

.button-calculadora {
    display: flex;
    justify-content: center;
    margin: 20px 0;       
}

input {
    border-radius: 10px;      
    width: 180px;
    height: 30px;  
    border: 1px solid white;
    outline: none;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.peso {   
    text-align: center;  
    width: 100px;    
}

.altura {   
    text-align: center;  
    width: 100px; 
}

.botao {   
    text-align: center;     
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background: #CAEFC9;
    font-family: 'Roboto', sans-serif;
}

.botao:hover {
    background: #aac9a9;
}

.resultado {
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }

.conteiner {
    background: #F1F1F1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100vh;
}

button:hover {
    cursor: pointer;
    transition: 0.5s ease-in;
}

button {
    transition: 0.5s ease-out;
}